---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Components
import ProjectEntries2 from "@/features/project/components/ProjectEntries2.astro";
// Content
import { getCollection } from "astro:content";
const allProjects = await getCollection("stories");
---

<BaseLayout>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance text-base-900"
        >
        Client stories
          <span
            class="font-display italic text-base-600 tracking-wide"
          >
          <br />
          Real results delivered
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 text-base-600"
        >
        Every great software project starts with a challenge. Our clients reveal how we turned their complex requirements into elegant solutions, transformed their operations, and unlocked new opportunities for growth through custom development that fits perfectly.
        </Text>
      </div>

      <div class="flex flex-col gap-2 mt-6">
        {allProjects.map((post) => <ProjectEntries2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
