---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="displayXL"
        class="mt-12 dark:text-white text-base-900 text-balance font-display"
        >Colors</Text
      >

      <div>
        <div class="flex flex-col gap-2 mt-12">
          <Text
            tag="h3"
            variant="textXS"
            class="font-medium dark:text-white text-base-900 uppercase"
            >Accent</Text
          >
          <div class="grid grid-cols-4 gap-8 mt-2">
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-50">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 50
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-100">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 100
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-200">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 200
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-300">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 300
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-400">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 400
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-500">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 500
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-600">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 600
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-700">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 700
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-800">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 800
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-accent-900">
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 900
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div
                class="size-12 aspect-square rounded-full bg-accent-950 outline outline-accent-900"
              >
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Accent 950
              </span>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-2 mt-12">
          <Text
            tag="h3"
            variant="textXS"
            class="font-medium dark:text-white text-base-900 uppercase"
            >Base</Text
          >
          <div class="grid grid-cols-4 gap-8 mt-2">
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-50"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 50
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-100"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 100
              </span>
            </div>
            <div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-200"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 200
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-300"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 300
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-400"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 400
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-500"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 500
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-600"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 600
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-700"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 700
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-800"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 800
              </span>
            </div><div class="flex flex-col gap-2">
              <div class="size-12 aspect-square rounded-full bg-base-900"></div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 900
              </span>
            </div><div class="flex flex-col gap-2">
              <div
                class="size-12 aspect-square rounded-full bg-base-950 outline outline-base-900"
              >
              </div>
              <span class="text-xs dark:text-base-400 text-base-600"
                >Base 950
              </span>
            </div>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
