---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Link from "@/shared/ui/base/Link.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance dark:text-white text-base-900"
        >
          Oh, oh...........!
          <span class="font-display italic tracking-wide"> 404 error </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600"
        >
          An error has occurred. The page you are looking for may have been
          moved, deleted, or does not exist. Please try again. If the problem
          persists, please contact the site administrator.
        </Text>
        <div class="mt-8 flex justify-center">
          <Link size="sm" variant="muted" href="/">Go back home </Link>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
