---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Components
import Entries2 from "@/features/blog/components/BlogEntries2.astro";
// Content
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance dark:text-white text-base-900"
        >
          Blog posts
          <span class="font-display italic tracking-wide block">
            tagged with {tag}
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600"
        >
          Find all the posts tagged with {tag}.
        </Text>
      </div>
      <ul class="mt-12 grid md:grid-cols-2 gap-2">
        {posts.map((post) => <Entries2 post={post} />)}
      </ul>
    </Wrapper>
  </section>
</BaseLayout>
