---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Content
const allPosts = await getCollection("posts");
import { getCollection } from "astro:content";
// Tags
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance dark:text-white text-base-900"
        >
          Blog posts
          <span class="font-display italic tracking-wide block">
            tagged with
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          Find all the posts tagged with a specific tag.
        </Text>
      </div>
      <ol
        class="mt-12 grid-cols-2 grid md:grid-cols-3 text-center gap-2"
        role="list"
      >
        {
          tags.map((tag) => (
            <>
              <li>
                <Text
                  tag="a"
                  variant="textSM"
                  underlined={true}
                  class="dark:text-white text-base-900    capitalize "
                  href={`/blog/tags/${tag}`}
                >
                  {tag}
                </Text>
              </li>
            </>
          ))
        }
      </ol>
    </Wrapper>
  </section>
</BaseLayout>
