---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Button from "@/shared/ui/base/Button.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayMD"
          class="text-balance dark:text-white text-base-900"
        >
          Go ahead and reset
          <span class="font-display italic tracking-wide block">
            your password
          </span>
        </Text>
      </div>
      <form class="mt-6 max-w-md mx-auto">
        <!-- Email Field -->
        <div>
          <label for="email" class="sr-only">Email</label>
          <input
            id="email"
            type="email"
            name="email"
            autocomplete="email"
            aria-describedby="email"
            placeholder="Enter your email"
            class="w-full flex-auto appearance-none rounded-full text-center outline outline-base-200 dark:outline-base-800 dark:text-white text-base-900 outline-inset border-transparent px-3 py-2 shadow-base-800/5 dark:placeholder:text-base-400 dark:place-holder-text-base-600 duration-300 h-10 focus:border-base-500 focus:outline-none focus:outline-4 focus:outline-base-500/10 sm:text-sm bg-base-50 dark:bg-base-800"
          />
        </div>
        <!-- Submit Button -->
        <div class="mt-2">
          <Button size="base" variant="default" type="submit" class="w-full">
            Send Reset Link
          </Button>
        </div>
        <Text
          tag="p"
          variant="textSM"
          class="mt-2 dark:text-base-400 text-base-600 text-center"
        >
          We'll email you a link to reset your password.
        </Text>
      </form>
    </Wrapper>
  </section>
</BaseLayout>
