---
import Text from "@/shared/ui/base/Text.astro";
import { Image } from "astro:assets";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
import { ScrollText } from "../../../shared/ui/base/scroll-text"

import { AnimatedShinyText } from "../../../shared/ui/base/animated-shiny-text"
---

<section class="overflow-hidden relative">
  <Wrapper variant="standard">
    <div class="py-12 mx-auto relative">
      <div class="text-center">
        <div class="mt-8 text-base-900 text-balance">
          <Text
            tag="h1"
            variant="displayXL"
            class="flex items-baseline justify-center gap-3 font-medium"
          >
            Ridho Assuryadi
            <Image
              width={400}
              height={200}
              src={"https://is3.cloudhost.id/treon/treon.gif"}
              alt="#_"
              class="size-12 rounded-xl md:size-16 hover:scale-150 duration-300 hover:rotate-6 ease-in-out"
            />
          </Text>
          <Text
            tag="p"
            variant="displayXL"
            class="italic tracking-wide font-display dark:text-base-400 text-base-600"
          >
            Software Designer
          </Text>
        </div>
      </div>
      <div
        class="grid grid-cols-1 text-base text-base-600 lg:grid-cols-2 w-full gap-8 group h-full mt-12"
      >
        <p>
          I create digital solutions that bridge innovative ideas with real-world applications, specializing in modern web development and user-centered design.
        </p>
        <p>
          From concept to deployment, I deliver high-quality software that performs beautifully and scales with your business needs.
        </p>
        
      </div>
      <p class="text-sm italic text-base-600 mt-8 mb-12">
        Let's collaborate to transform your vision into exceptional digital experiences. <span class="block text-base-900">⏤ Quality-driven development.</span>
      </p>
  
      <ScrollText client:load text="My journey as a Software Designer began with a passion for creating meaningful digital experiences. I believe that great software doesn't just solve problems—it empowers people to achieve more than they thought possible. Every project I take on is driven by this core philosophy: technology should enhance human capabilities, not complicate them. My approach combines technical expertise with design thinking to deliver solutions that are both powerful and intuitive."></ScrollText>
      <ScrollText client:load text="I envision a digital landscape where beautiful design meets robust functionality, where every interaction feels natural and every feature serves a purpose. My goal is to bridge the gap between complex technical requirements and user-friendly interfaces, creating software that users love and businesses depend on. Through continuous learning and thoughtful craftsmanship, I strive to push the boundaries of what's possible in modern web development."></ScrollText>
  
  
  
    </div>
  </Wrapper>

</section>
