<section>
  <div class="px-8 py-12 max-w-xl mx-auto">
    <div>
      <h2 class="text-4xl tracking-tight text-base-900 text-balance font-bold mb-4">
        About Me: A Passionate Journey
      </h2>
      <p class="text-base text-base-600 mt-4 text-balance">
        My journey as a Software Designer began with a deep passion for creating meaningful digital experiences. I'm not just a developer — I'm a dedicated partner who walks alongside you to transform ideas into exceptional software solutions. I believe every project has the potential to make a real impact, and my mission is to help you realize that potential through thoughtful design and robust development.
      </p>
      <h3 class="text-2xl tracking-tight text-base-900 font-semibold mt-8">My Mission: Crafting Solutions, Creating Impact</h3>
      <ul class="list-disc pl-6 mt-4 text-base text-base-600">
        <li><b>Delivering Real Solutions:</b> I go beyond writing code; I design solutions that solve real problems efficiently and measurably. Every line of code and every feature I create is a step toward your sustainable business growth.</li>
        <li><b>Guiding Digital Excellence:</b> I understand that great software is a journey. That's why I act as your dedicated partner at every step, listening closely, understanding your unique needs, and providing solutions that truly fit your vision.</li>
        <li><b>Quality & Accessibility:</b> For me, great software is inclusive software. I'm committed to building solutions that are not only efficient and beautiful, but also accessible to everyone, bringing positive impact to users and communities.</li>
      </ul>
    </div>
  </div>
</section>
