---
// Assets
import { Image } from "astro:assets";
import Tabler from "@/shared/images/stacklogos/tabler.svg";
import Arc from "@/shared/images/stacklogos/arc.svg";
import Astrojs from "@/shared/images/stacklogos/astro.svg";
import Notes from "@/shared/images/stacklogos/notes.svg";
import VSCode from "@/shared/images/stacklogos/vscode.svg";
import Penpot from "@/shared/images/stacklogos/penpot.svg";
import Tailwind from "@/shared/images/stacklogos/tailwind.svg";
import CooperativeHandshake from "@/shared/images/mindset-icons/cooperative-handshake.svg";
import HeartBallon from "@/shared/images/mindset-icons/heart-ballon.svg";
import Seedling from "@/shared/images/mindset-icons/seedling.svg";
import Brain from "@/shared/images/mindset-icons/brain.svg";
// Fundations
import Text from "@/shared/ui/base/Text.astro";
// Structure the stack with their respective items
const stack = [
  {
    title: "",
    items: [
      {
        stackLogo: HeartBallon,
        name: "Human-Centered Solutions",
        about: "",
        description:
          "Technology that truly understands and serves people, with user experience as our top priority.",
      },
      {
        stackLogo: CooperativeHandshake,
        name: "Partnership Excellence",
        about: "",
        description:
          "Your success is our priority. We deliver the best solutions through expertise and close collaboration.",
      },
      {
        stackLogo: Brain,
        name: "Practical Innovation",
        about: "",
        description:
          "Relevant innovation that actually supports your business goals and user needs.",
      },
      {
        stackLogo: Seedling,
        name: "Growth Mindset",
        about: "",
        description:
          "Constantly evolving and learning, turning every challenge into an opportunity to grow.",
      },
      // Add more items as necessary
    ],
  },
];
---

<div class="flex flex-col gap-12">
  {
    stack.map((section) => (
      <div class="flex flex-col gap-6 ">
        <ul role="list" class="grid gap-2 sm:grid-cols-2 lg:col-span-2">
          {section.items.map((item) => (
            <li class="relative flex flex-col justify-between w-full h-full p-6 overflow-hidden transition-all transform ring-1 shadow   min-h-72 rounded-2xl bg-linear-45 from-base-50 duration-300 to-base-100 ring-base-200 ring-inset group hover:shadow-light">
              <div class="flex items-center justify-between gap-x-4">
                <div>
                  <Image
                    src={item.stackLogo}
                    alt={item.name}
                    width={200}
                    height={200}
                    class="duration-300 size-8 rounded-xl group-hover:-rotate-45 mb-2"
                  />
                  <Text
                    tag="h3"
                    variant="textLG"
                    class="text-base-900 font-display"
                  >
                    {item.name}
                  </Text>
                </div>
              </div>
              <Text
                tag="p"
                variant="textBase"
                class="mt-2 text-base  text-base-600"
              >
                {item.description}
              </Text>
            </li>
          ))}
        </ul>
      </div>
    ))
  }
</div>
