---
import { Image } from "astro:assets";
import Trendspotter from "@/shared/images/work/trendspotter.png";
import Navy from "@/shared/images/work/navy.png";
import Spaziobianco from "@/shared/images/work/spaziobianco.png";
import Phanatik from "@/shared/images/work/phanatik.png";
import Studiomax from "@/shared/images/work/studiomax.png";
import ProfolioxLight from "@/shared/images/work/profolioxLight.png";
import ProfolioxDark from "@/shared/images/work/profolioxDark.png";
import Outkast from "@/shared/images/work/outkast.png";
import Author from "@/shared/images/work/author.png";
import PrimapersonaLight from "@/shared/images/work/primapersonaLight.png";
import PrimapersonaDark from "@/shared/images/work/primapersonaDark.png";
import SimplexityLight from "@/shared/images/work/simplexityLight.png";
import SimplexityDark from "@/shared/images/work/simplexityDark.png";
import Carbon from "@/shared/images/work/carbon.png";
import Williamsburg from "@/shared/images/work/williamsburg.png";
import KoteiLight from "@/shared/images/work/koteiLight.png";
import KoteiDark from "@/shared/images/work/koteiDark.png";
import Dusk from "@/shared/images/work/dusk.png";
import Quartiere from "@/shared/images/work/quartiere.png";
import Flabbergasted from "@/shared/images/work/flabbergasted.png";
import Aubergine from "@/shared/images/work/aubergine.png";
import FlacoLight from "@/shared/images/work/flacoLight.png";
import FlacoDark from "@/shared/images/work/flacoDark.png";
import Buio from "@/shared/images/work/buio.png";
import Alfred from "@/shared/images/work/alfred.png";
import Hemingway from "@/shared/images/work/hemingway.png";
import StreamerLight from "@/shared/images/work/streamerLight.png";
import StreamerDark from "@/shared/images/work/streamerDark.png";
import Vanta from "@/shared/images/work/vanta.png";
import Semplice from "@/shared/images/work/semplice.png";
import Riflesso from "@/shared/images/work/riflesso.png";
import Carriera from "@/shared/images/work/carriera.png";
import Brightlight from "@/shared/images/work/brightlight.png";
import Hirewise from "@/shared/images/work/hirewise.png";
import Snowpeak from "@/shared/images/work/snowpeak.png";
import Enlightr from "@/shared/images/work/enlightr.png";
import Superstore from "@/shared/images/work/superstore.png";
const themes = [
  { name: "Trendspotter", image: Trendspotter },
  { name: "Spaziobianco", image: Spaziobianco },
  { name: "Phanatik", image: Phanatik },
  { name: "Studiomax", image: Studiomax },
  { name: "ProfolioxLight", image: ProfolioxLight },
  { name: "ProfolioxDark", image: ProfolioxDark },
  { name: "Outkast", image: Outkast },
  { name: "Author", image: Author },
  { name: "PrimapersonaLight", image: PrimapersonaLight },
  { name: "PrimapersonaDark", image: PrimapersonaDark },
  { name: "SimplexityLight", image: SimplexityLight },
  { name: "SimplexityDark", image: SimplexityDark },
  { name: "Carbon", image: Carbon },
  { name: "Williamsburg", image: Williamsburg },
  { name: "KoteiLight", image: KoteiLight },
  { name: "KoteiDark", image: KoteiDark },
  { name: "Dusk", image: Dusk },
  { name: "Quartiere", image: Quartiere },
  { name: "Flabbergasted", image: Flabbergasted },
  { name: "Aubergine", image: Aubergine },
  { name: "FlacoLight", image: FlacoLight },
  { name: "FlacoDark", image: FlacoDark },
  { name: "Buio", image: Buio },
  { name: "Alfred", image: Alfred },
  { name: "Hemingway", image: Hemingway },
  { name: "StreamerLight", image: StreamerLight },
  { name: "StreamerDark", image: StreamerDark },
  { name: "Vanta", image: Vanta },
  { name: "Semplice", image: Semplice },
  { name: "Riflesso", image: Riflesso },
  { name: "Carriera", image: Carriera },
  { name: "Brightlight", image: Brightlight },
  { name: "Hirewise", image: Hirewise },
  { name: "Snowpeak", image: Snowpeak },
  { name: "Enlightr", image: Enlightr },
  { name: "Superstore", image: Superstore },
  { name: "Navy", image: Navy },
];
---

<style>
  .keen-slider__slide {
    overflow: visible;
  }
</style>

<section class="scroll-mt-24" id="work">
  <div class="px-8 py-24 max-w-xl mx-auto">
    <div class=" p-8 rounded-3xl">
      <h2 class="text-4xl tracking-tight text-base-900 text-balance font-bold mb-6">Our Work: Stories of Success</h2>
      <ul class="list-disc pl-6 text-base text-base-600">
        <li><b>Muslimfy:</b> A digital companion app that bridges technology and Islamic values, designed to support Muslims in their spiritual journey and daily lives. Features include Prayer Times, Verse of the Day, and Tasbih Counter.</li>
        <li class="mt-4"><b>RADAS (Coming Soon):</b> An all-in-one developer toolkit built to revolutionize how Frontend, Backend, DevOps, and Design teams collaborate, offering automated configuration and type-safe code.</li>
        <li class="mt-4"><b>Trenzo (Coming Soon):</b> A market research platform empowering online sellers to analyze trends, opportunities, and buyer behavior across major e-commerce platforms like Shopee, Tokopedia, and TikTok Shop. Trenzo makes data-driven decisions easy and accessible.</li>
        <li class="mt-4"><b>Investrack (Coming Soon):</b> A platform designed to bridge communication between investors and project owners, providing clear updates on project progress, financial performance, and investment opportunities. Investrack fosters transparency and turns data into meaningful discussions and action.</li>
      </ul>
    </div>
  </div>
  <div class="px-8 py-24 max-w-xl mx-auto">
    <div class=" p-8  rounded-3xl">
      <div id="keen-slider" class="keen-slider relative">
        {
          themes.map(({ name, image }) => (
            <div class="relative w-full keen-slider__slide  ">
              <Image src={image} width={800} height={800} alt={name} />
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex gap-2 items-center w-fit mx-auto mt-2">
      <button
        id="keen-slider-previous"
        aria-label="Previous slide"
        class=" text-base-500 rounded-full p-2 hover:bg-base-900 hover:text-white duration-300 focus:outline-none focus:ring-2 focus:ring-base-500"
      >
        <svg
          class="size-4"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19l-7-7 7-7"></path>
        </svg>
      </button>
      <button
        id="keen-slider-next"
        aria-label="Next slide"
        class=" text-base-500 rounded-full p-2 hover:bg-base-900 hover:text-white duration-300 focus:outline-none focus:ring-2 focus:ring-base-500"
      >
        <svg
          class="size-4"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          viewBox="0 0 24 24"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <script type="module">
    import KeenSlider from "https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/+esm";
    window.addEventListener("DOMContentLoaded", () => {
      const autoplay = (slider) => {
        let timeout;
        let mouseOver = false;
        function clearNextTimeout() {
          clearTimeout(timeout);
        }
        function nextTimeout() {
          clearTimeout(timeout);
          if (mouseOver) return;
          timeout = setTimeout(() => {
            slider.next();
          }, 500);
        }
        slider.on("created", () => {
          slider.container.addEventListener("mouseover", () => {
            mouseOver = true;
            clearNextTimeout();
          });
          slider.container.addEventListener("mouseout", () => {
            mouseOver = false;
            nextTimeout();
          });
          nextTimeout();
        });
        slider.on("dragStarted", clearNextTimeout);
        slider.on("animationEnded", nextTimeout);
        slider.on("updated", nextTimeout);
      };
      const sliderEl = document.getElementById("keen-slider");
      if (!sliderEl) {
        console.warn("Slider element not found");
        return;
      }
      const keenSlider = new KeenSlider(
        sliderEl,
        {
          loop: true,
          defaultAnimation: {
            duration: 1000,
          },
          detailsChanged: (s) => {
            s.slides.forEach((element, idx) => {
              element.style.opacity = s.track.details.slides[idx].portion;
            });
          },
          slides: {
            origin: "center",
            perView: 1.5,
            spacing: 12,
          },
          breakpoints: {
            "(min-width: 1024px)": {
              slides: {
                origin: "auto",
                perView: 1,
                spacing: 0,
              },
            },
          },
        },
        [autoplay]
      );
      const keenSliderPrevious = document.getElementById(
        "keen-slider-previous"
      );
      const keenSliderNext = document.getElementById("keen-slider-next");
      keenSliderPrevious?.addEventListener("click", () => keenSlider.prev());
      keenSliderNext?.addEventListener("click", () => keenSlider.next());
    });
  </script>
</section>
