---
import myImage from '../assets/profile-pic.png'
import { Image } from 'astro:assets';
---
<div class="frame mb-8">
    <div class="tape"></div>
    <figure class="img-wrapper">
    <Image src={myImage} alt="profile pic" />
    </figure>
    <h3 class="text-2xl mt-2 font-semibold">Hello there !</h3>
  </div>