---
// Assets
import { Image } from "astro:assets";
// import the logos
import logo1 from "@/shared/images/brands/1.svg";
import logo2 from "@/shared/images/brands/2.svg";
import logo3 from "@/shared/images/brands/3.svg";
import logo4 from "@/shared/images/brands/4.svg";
import logo5 from "@/shared/images/brands/5.svg";
import logo6 from "@/shared/images/brands/6.svg";
const logos = [
  { src: logo1, alt: "b1 Logo" },
  { src: logo2, alt: "b2 Logo" },
  { src: logo3, alt: "b3 Logo" },
  { src: logo4, alt: "b4 Logo" },
  { src: logo5, alt: "b5 Logo" },
  { src: logo6, alt: "b6 Logo" },
];
---

<div class="relative mx-auto mt-12 overflow-hidden overflow-x-hidden py-2">
  <div class="w-full justify-between grid">
    <div
      class="absolute inset-0 from-white dark:from-base-950 left-0 via-transparent w-44 z-10 bg-gradient-to-r"
    >
    </div>
    <div
      class="absolute inset-0 from-white dark:from-base-950 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto"
    >
    </div>
  </div>
  <div
    class="items-center relative animate-marquee flex gap-4 whitespace-nowrap"
  >
    {
      logos.map((logo) => (
        <Image
          width={200}
          height={100}
          class="h-8 dark:filter-none filter invert"
          src={logo.src}
          alt={logo.alt}
        />
      ))
    }
  </div>
</div>
