---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import ProjectEntries2 from "@/components/projects/ProjectEntries2.astro";
// Content
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
---

<BaseLayout>
  <section>
    <Wrapper class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayXL"
          class="text-balance dark:text-white text-base-900"
        >
          I like to build
          <span
            class="font-display italic dark:text-base-400 text-base-600 tracking-wide"
          >
            projects from scrach
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600"
        >
          When I'm not working I build things that make me explore and learn,
          and I love to share my projects with the world.
        </Text>
      </div>

      <div class="flex flex-col gap-2 mt-6">
        {allProjects.map((post) => <ProjectEntries2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
