---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Link from "@/shared/ui/base/Link.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Components
import LogoCloud from "@/shared/images/LogoCloud.astro";
// LogoCloud from "@/components/assets/LogoCloud.astro";
// Content
const services = [
  {
    title: "Design",
    price: "5,455",
    items: [
      {
        description:
          "Ideal for emerging businesses requiring continuous design assistance.",
        includes: [
          "Brand Style Guide",
          "Component Library",
          "UI Patterns",
          "Interactive Prototypes",
          "Accessibility Standards",
          "Responsive Designs",
          "Design Tokens",
          "User Flow Diagrams",
          "Documentation & Guidelines",
          "Version Control",
        ],
      },
      // Add more items as necessary
    ],
  },
  {
    title: "Design and  Development",
    price: "8,455",
    items: [
      {
        description:
          "Ideal for startups requiring design and front-end development services.",
        includes: [
          "Same as in design",
          "End-to-End Development",
          "Database Design & Integration",
          "API Development & Integration",
          "Front-End & Back-End ",
          "Security Best Practices",
          "Scalable Architecture",
          "Performance Optimization",
          "Cloud Deployment & CI/CD",
          "Technical Documentation",
          "Ongoing Support & Maintenance",
        ],
      },
      // Add more items as necessary
    ],
  },
];
---
<BaseLayout>
  <section>
    <Wrapper class="px-8 py-24 mx-auto ">
      <div class="text-center">
        <h1 class="text-4xl dark:text-white text-base-900    text-balance md:text-6xl"> I like to build <span class="italic      tracking-wide font-display"> projects from scrach </span>
        </h1>
        <p class="mt-4  dark:text-base-400 text-base-600"> Hire me to build your next project from scratch, with a focus on design and development. </p>
       
      <LogoCloud/>
      </div>
      <div class="flex flex-col gap-2 mt-6 ">
         { services.map((section) => (
          <div class="relative flex flex-col justify-between w-full h-full p-6 overflow-hidden transition-all transform ring-1 shadow   min-h-72 rounded-2xl bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950        ring-base-200     dark:ring-base-800  ring-inset group hover:shadow-light   dark:hover:shadow-dark">
          <div class="flex items-center justify-between italic font-medium tracking-wide dark:text-white text-base-900    font-display ">
            <Text tag="h3" variant="displaySM" class="text-balance"> {section.title} </Text>
            <Text tag="p" variant="textLG" class="text-balance"> ${section.price}/m </Text>
          </div>
          <div role="list" class="mt-6 "> {section.items.map((item) => (
            <Text tag="p" variant="textXL" class="  dark:text-base-400 text-base-600 text-balance"> {item.description} </Text>
            <ul class="grid mt-6 text-sm list-inside gap-y-2 md:grid-cols-2 gap-x-6  dark:text-base-400 text-base-600" role="list">
               {item.includes.map((feature) => (
              <li class="flex items-center gap-2">
                <svg  xmlns="http://www.w3.org/2000/svg"   viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right size-4"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>
                <span class="duration-300 hover:translate-x-2">{feature}</span>
                </li>
            ))}
            </ul>
          ))}
          </div>
          <div class="flex mt-12 col-span-full ">
   <Link size="sm" variant="default" href="/forms/contact" title="your title" aria-label="your label"
   class="rounded-full bg-base-50  px-4 flex gap-1  justify-betweenZ items-center py-2.5 h-9 text-sm font-semibold text-base-900   hover:bg-base-200 duration-300 ring-1 ring-inset     ring-base-200    "> Get started
   
   </Link>
  </div>
        </div>
        ))
      }
        </div>
    </Wrapper>
  </section>
</BaseLayout>
