.interactive-grid-pattern {
  position: absolute;
  inset: 0;
  width: 120%;
  height: 120%;
  pointer-events: auto;
  transform: perspective(500px) rotateX(45deg) scale(1.5);
  transform-origin: center center;
  top: -10%;
  left: -10%;
}

.grid-square {
  stroke: rgba(255, 255, 255, 0.05);
  stroke-width: 0.5;
  fill: transparent;
  transition: fill 100ms ease-in-out;
}

.grid-square:not(.hovered) {
  transition: fill 1000ms ease-in-out;
}

.grid-square.hovered {
  fill: rgba(255, 255, 255, 0.06);
}
