.shitdown_bg_container {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  place-items: center;
  background: #040404;
}

/* Logo container - positioned on left side like Windows 95 */
.shutdown_logo {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 120px;
  background: linear-gradient(
    to right,
    #808080 0%,
    #a0a0a0 30%,
    #c0c0c0 50%,
    #a0a0a0 70%,
    #606060 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: shuttingDown 4s forwards;
  animation-delay: 1s;
}

.shutdown_name {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-size: 48px;
  font-weight: bold;
  font-family: "Arial Black", "Helvetica Neue", sans-serif;
  color: #505050;
  text-shadow:
    2px 2px 0 #909090,
    -1px -1px 0 #303030;
  letter-spacing: 4px;
  user-select: none;
}

@media screen and (width < 500px) {
  .shutdown_logo {
    width: 80px;
  }
  .shutdown_name {
    font-size: 32px;
  }
}

@keyframes shuttingDown {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.shitdown_bg_container .text_1_shutdown {
  position: absolute;
  width: 100%;
  max-width: 900px;
  font-size: 4svw;
  color: rgb(230, 133, 15);
  text-align: center;
  margin-top: -4rem;
  animation: shuttingDownText 3.75s;
  animation-delay: 1s;
  opacity: 0;
}

.shitdown_bg_container .text_2_shutdown {
  position: absolute;
  width: 100%;
  max-width: 900px;
  font-size: 4svw;
  color: rgb(230, 133, 15);
  text-align: center;
  margin-top: -4rem;
  animation: shuttingDownText 1s forwards;
  animation-delay: 5s;
  opacity: 0;
}

@media screen and (min-width: 1200px) {
  .shitdown_bg_container .text_1_shutdown,
  .shitdown_bg_container .text_2_shutdown {
    font-size: 45px;
  }
}

@keyframes shuttingDownText {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
