---
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
// Fundations
import Text from "@/shared/ui/base/Text.astro";
import Button from "@/shared/ui/base/Button.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text
          tag="h1"
          variant="displayMD"
          class="text-balance dark:text-white text-base-900"
        >
          Sign up to
          <span class="font-display italic tracking-wide"> Flaco </span>
        </Text>
      </div>

      <form class="mt-6 max-w-md mx-auto">
        <div class="grid grid-cols-1 gap-2">
          <!-- Email Field -->
          <div>
            <label for="email" class="sr-only">Email</label>
            <div>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter your email"
                autocomplete="email"
                class="w-full flex-auto appearance-none rounded-full text-center outline outline-base-200 dark:outline-base-800 dark:text-white text-base-900 outline-inset border-transparent px-3 py-2 shadow-base-800/5 dark:placeholder:text-base-400 dark:place-holder-text-base-600 duration-300 h-10 focus:border-base-500 focus:outline-none focus:outline-4 focus:outline-base-500/10 sm:text-sm bg-base-50 dark:bg-base-800"
              />
            </div>
          </div>
          <!-- Password Field -->
          <div>
            <label for="password" class="sr-only">Password</label>
            <div>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter your password"
                autocomplete="current-password"
                class="w-full flex-auto appearance-none rounded-full text-center outline outline-base-200 dark:outline-base-800 dark:text-white text-base-900 outline-inset border-transparent px-3 py-2 shadow-base-800/5 dark:placeholder:text-base-400 dark:place-holder-text-base-600 duration-300 h-10 focus:border-base-500 focus:outline-none focus:outline-4 focus:outline-base-500/10 sm:text-sm bg-base-50 dark:bg-base-800"
              />
            </div>
            <Text
              tag="p"
              variant="textXS"
              class="mt-2 dark:text-base-400 text-base-600"
            >
              Use at least 8 characters, 1 uppercase, 1 lowercase, 1 digit, and
              1 special character for your password.
            </Text>
          </div>
        </div>

        <div class="flex items-center py-4">
          <input
            type="checkbox"
            name="terms"
            id="terms"
            class="rounded border-base-200 dark:text-base-400 text-base-600  shadow-sm focus:border-base-300 focus:ring focus: ring-base-200 focus:ring-opacity-50 dark:bg-base-900 dark:border-base-700"
          />
          <label
            for="terms"
            class="ml-2 block text-sm leading-5 dark:text-base-400 text-base-600"
          >
            I agree
          </label>
        </div>

        <!-- Submit Button -->
        <div class="mt-2">
          <Button type="submit" size="base" variant="default" class="w-full"
            >Sign up
          </Button>
        </div>
        <div class="flex flex-wrap gap-4 justify-between items-center mt-2">
          <Text
            tag="p"
            variant="textSM"
            class="dark:text-base-400 text-base-600"
            >Already have an account?</Text
          >
          <Text
            tag="a"
            variant="textXS"
            underlined={true}
            class="text-base-900 dark:text-white"
            href="/forms/signin">Sign in instead</Text
          >
        </div>
      </form>
    </Wrapper>
  </section>
</BaseLayout>
