<section>
  <div class="px-8 py-12 max-w-xl mx-auto">
    <div>
      <h2 class="text-4xl tracking-tight text-base-900 text-balance font-bold mb-4">
        About Us: A Journey Begins
      </h2>
      <p class="text-base text-base-600 mt-4 text-balance">
        Treon Studio was born out of a passion for innovation and a genuine desire to help businesses thrive. We are not just a technology provider — we are a dedicated partner, walking alongside you as you pursue meaningful growth. We believe every business has the potential to shine, and our mission is to help you realize that potential through technology.
      </p>
      <h3 class="text-2xl tracking-tight text-base-900 font-semibold mt-8">Our Mission: Weaving Solutions, Creating Impact</h3>
      <ul class="list-disc pl-6 mt-4 text-base text-base-600">
        <li><b>Delivering Real Solutions:</b> We go beyond building software; we design solutions that solve your problems efficiently and measurably. Every line of code and every feature we create is a step toward your sustainable business growth.</li>
        <li><b>Guiding True Digital Transformation:</b> We understand that digital transformation is a journey. That’s why we act as your true partner at every step, listening closely, understanding your unique needs, and providing support with solutions that truly fit.</li>
        <li><b>Positive Impact for Community and Environment:</b> For us, innovation is not just about technology — it’s about responsibility and sustainability. We are committed to building solutions that are not only efficient, but also bring positive impact to our communities and the environment.</li>
      </ul>
    </div>
  </div>
</section>
