@import 'tailwindcss';

:root {
  --text-color: 60, 56, 54;
  --main-color: 104, 175, 106;
  --shadow-color: 0, 0, 0;
  --wallpaper-color: 230, 230, 230;
  --background-color: 255, 255, 255;
}

.dark {
  --text-color: 235, 219, 178;
  --main-color: 215, 153, 33;
  --shadow-color: 0, 0, 0;
  --wallpaper-color: 25, 25, 25;
  --background-color: 40, 40, 40;
}

@layer base {
  body {
    overflow: hidden;
    background-color: rgb(var(--background-color));
    color: rgb(var(--text-color));
  }

  a {
    color: rgb(var(--main-color));
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    border-radius: 0.375rem;
    border-color: #4a5568;
    padding: 0.75rem 1rem;
    color: rgb(var(--text-color));
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  [type="text"]::placeholder,
  [type="email"]::placeholder,
  [type="url"]::placeholder,
  [type="password"]::placeholder,
  [type="number"]::placeholder,
  [type="date"]::placeholder,
  [type="datetime-local"]::placeholder,
  [type="month"]::placeholder,
  [type="search"]::placeholder,
  [type="tel"]::placeholder,
  [type="time"]::placeholder,
  [type="week"]::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: rgba(var(--text-color), 0.5);
  }
  
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="datetime-local"]:focus,
  [type="month"]:focus,
  [type="search"]:focus,
  [type="tel"]:focus,
  [type="time"]:focus,
  [type="week"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    border-color: rgb(var(--main-color));
    caret-color: rgb(var(--main-color));
    box-shadow: 0 0 0 2px rgba(var(--main-color), 0.2);
  }

  [type="checkbox"],
  [type="radio"] {
    border-radius: 0.25rem;
    border-color: #d1d5db;
    color: rgb(var(--main-color));
  }
  
  [type="checkbox"]:focus,
  [type="radio"]:focus {
    box-shadow: 0 0 0 2px rgba(var(--main-color), 0.2);
  }

  [type="submit"] {
    cursor: pointer;
  }
}

@layer components {
  .btn-icon {
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    cursor: pointer;
    border-radius: 0.375rem;
    border: none;
    padding: 0.5rem;
    color: rgba(var(--text-color), 0.4);
    outline: none;
    transition: all 0.2s;
  }
  
  .btn-icon:hover {
    background-color: rgba(var(--text-color), 0.05);
    color: rgba(var(--text-color), 0.6);
  }

  .btn-icon svg {
    user-select: none;
  }

  .btn-icon-gray {
    height: 3.5rem;
    width: 3.5rem;
    min-width: 2.5rem;
    cursor: pointer;
    border-radius: 0.375rem;
    border: none;
    background-color: rgba(var(--text-color), 0.05);
    padding: 1rem;
    color: rgba(var(--text-color), 0.4);
    outline: none;
    transition: all 0.2s;
  }
  
  .btn-icon-gray:focus {
    background-color: rgba(var(--text-color), 0.1);
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

.dark ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  border: 6px solid transparent;
  background-clip: padding-box;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: padding-box;
}
