---
// Fundations
import BaseLayout from "@/shared/ui/layouts/BaseLayout.astro";
import Text from "@/shared/ui/base/Text.astro";
import Wrapper from "@/shared/ui/layouts/Wrapper.astro";
// Components
import WorkEntries1 from "@/features/work/components/WorkEntries1.astro";
// Content
import { getCollection } from "astro:content";
const allWork = await getCollection("work");
// Assets
import LogoCloud from "@/shared/images/LogoCloud.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <div class="text-center">
        <Text tag="h1" variant="displayXL" class="text-white text-balance">
          Check out my <span class="italic tracking-wide font-display">
            portfolio
          </span>
        </Text>
        <Text
          tag="p"
          variant="textLG"
          class="mt-4 dark:text-base-400 text-base-600 text-balance"
        >
          Hire me to build your next project from scratch, with a focus on
          design and development.
        </Text>
      </div>
      <LogoCloud />
      <div role="list" class="grid gap-2 mt-12 sm:grid-cols-2">
        {allWork.map((post) => <WorkEntries1 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
