---
// Fundations
import Link from "@/components/fundations/elements/Link.astro";
import Text from "@/components/fundations/elements/Text.astro";
// Components
import LogoCloud from "@/components/assets/LogoCloud.astro";
---

<div class="grid gap-2 mt-2 sm:grid-cols-2">
  <div
    class="p-2 ring-1 dark:ring-0 group bg-linear-45 from-base-50 dark:from-base-800 duration-300 to-base-100 dark:to-base-950 ring-base-200 ring-inset shadow rounded-3xl hover:shadow-light dark:hover:shadow-dark"
  >
    <div
      class="relative flex flex-col justify-between h-full p-4 overflow-hidden min-h-96 rounded-2xl"
    >
      <div>
        <div class="relative flex items-center justify-between sm:items-start">
          <Text
            tag="h3"
            variant="textBase"
            class="font-medium dark:text-white text-base-900 uppercase"
          >
            Book a call
          </Text>
          <a
            href="/forms/contact"
            title="your tile"
            class="rounded-full dark:bg-base-50 bg-black p-1 dark:text-base-900 text-white group-hover:-rotate-45 duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-device-mobile size-4"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M6 5a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2v-14z"
              ></path><path d="M11 4h2"></path><path d="M12 17v.01"></path></svg
            >
          </a>
        </div>
        <Text
          tag="p"
          variant="textBase"
          class="mt-8 dark:text-base-400 text-base-600"
        >
          If not sure, you can book an intro call to learn more about my
          services and get a free consultation to discuss your project.
        </Text>
      </div>
      <div class="">
        <Link
          size="sm"
          variant="default"
          href="/forms/contact"
          title="your title"
          >Book an intro call
        </Link>
      </div>
    </div>
  </div>
  <div
    class="p-2 duration-300 ring-1 dark:ring-0 group bg-white dark:bg-base-950 dark:ring-base-800 ring-base-200 ring-inset shadow rounded-3xl hover:shadow-light dark:hover:shadow-dark"
  >
    <div
      class="relative flex flex-col justify-between h-full overflow-hidden min-h-96 rounded-2xl"
    >
      <div>
        <div class="p-4 pb-0">
          <Text
            tag="h3"
            variant="display2XL"
            class="font-display tracking-wide italic font-medium dark:text-white text-base-900 text-balance"
          >
            Referral program
          </Text>
          <Text
            tag="p"
            variant="textLG"
            class="mt-8 dark:text-base-400 text-base-600 text-balance"
          >
            Refer someone and get 10% off your next project or month of work.
          </Text>
        </div>
        <LogoCloud />
      </div>
      <div class="p-4">
        <Link size="sm" variant="muted" href="#_" title="your title"
          >Join the program
        </Link>
      </div>
    </div>
  </div>
</div>
